@using System.Text
@inject GameManager gameManager

<div class="background" style=@(backgroundStyle)>
    <div style="position: absolute; top: 200px; bottom: 0; right: 110px; width: 95%; background-color: transparent;">
        @for (int row = 0; row < gameManager.Game.Board.Width; row++)
        {
            @for (int col = 0; col < gameManager.Game.Board.Height; col++)
            {
                @if (locations.ContainsKey((row, col)))
                {
                    <RoverView Row="row" Column="col" PlayerName="@locations[(row, col)].Name" BatteryRemaining="26" />
                }
            }
        }
    </div>
</div>

@code {
    string backgroundStyle = "";
    [CascadingParameter]
    public SharedState SharedState { get; set; }

    protected override void OnInitialized()
    {
        backgroundStyle = $"background-image: url('/images/terrain_{gameManager.Game.MapNumber:00}.png'); ";
        gameManager.GameStateChanged += (_, _) => InvokeAsync(() =>
        {
            refresh();
        });
        refresh();
    }

    private void refresh()
    {
        locations.Clear();
        foreach (var item in gameManager.Game.Board.RoverLocations)
        {
            locations.Add((item.Value.Row, item.Value.Column), item.Key);
        }
        StateHasChanged();
    }

    public string gridTemplateRows => String.Join(" ", Enumerable.Repeat("1fr", gameManager.Game.Board.Width));
    public string gridTemplateColumns => String.Join(" ", Enumerable.Repeat("1fr", gameManager.Game.Board.Height));

    public string gridTemplateAreas()
    {
        var sb = new StringBuilder();
        for (int row = 0; row < gameManager.Game.Board.Width; row++)
        {
            sb.Append("\"");
            for (int col = 0; col < gameManager.Game.Board.Height; col++)
            {
                sb.Append($"r{row}c{col} ");
            }
            sb.AppendLine("\"");
        }
        return sb.ToString();
    }

    public string cellClasses()
    {
        var sb = new StringBuilder();
        for (int row = 0; row < gameManager.Game.Board.Width; row++)
        {
            for (int col = 0; col < gameManager.Game.Board.Height; col++)
            {
                sb.AppendLine($".r{row}c{col} {{grid-area: r{row}c{col};}} ");
            }
        }
        return sb.ToString();
    }

    Dictionary<(int row, int col), Player> locations = new();

}
