@using System.Text
@inject GameManager gameManager

<div class="background" style=@(backgroundStyle)>
    <img src="/images/pin_100.png" width="40" style=@($"position: absolute; bottom: {pinBottom}%; left: {pinLeft}%; z-index: 80;") alt="Destination target location" />
    <div style="position: absolute; top: 200px; bottom: 0; right: 110px; width: 95%; background-color: transparent;">
        @foreach (var player in gameManager.Game.Players)
        {
            <RoverView Player="player" />
        }
    </div>
</div>

@code {
    string backgroundStyle = "";
    [CascadingParameter]
    public SharedState? SharedState { get; set; }

    double pinBottom;
    double pinLeft;

    protected override void OnInitialized()
    {
        var target = gameManager.Game.TargetLocation;
        pinBottom = target.Row * 100.0 / gameManager.Game.Board.Height;
        pinLeft = target.Column * 100.0 / gameManager.Game.Board.Width;

        backgroundStyle = $"background-image: url('/images/terrain_{gameManager.Game.MapNumber:00}.png'); ";

        gameManager.GameStateChanged += (_, _) => InvokeAsync(() =>
        {
            StateHasChanged();
        });

        StateHasChanged();
    }
}
