@using System.Text

<div class="background" style=@(backgroundStyle)>
    <div style="position: absolute; top: 120px; bottom: 0; right: 110px; width: 95%; background-color: transparent;">
        @foreach (var player in gameManager!.Game.Players)
        {
            <RoverView Player="player" />
        }
        @foreach (var ingenuity in gameManager!.Game.Ingenuities)
        {
            <IngenuityView Ingenuity=@ingenuity />
        }
        @foreach(var target in gameManager!.Game.Targets)
        {
            <TargetView Location="target" />
        }
    </div>

    @if (gameManager.Game.Winners.Any())
    {
        <div style="position: absolute; right: 25px; top: 75px;z-index: 200; background-color:antiquewhite;"
             class="p-3 rounded-3 border border-4 border-success">
            <span class="h4">Winners:</span>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody class="">
                    @foreach (var winner in gameManager.Game.Winners)
                    {
                        <tr scope="row">
                            <td>@winner.Name</td>
                            <td>@(winner.WinningTime?.ToString(@"m\:ss\.fff"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@code {
    string backgroundStyle = "";
    [CascadingParameter]
    public SharedState? SharedState { get; set; }

    [CascadingParameter(Name = "GameManager")]
    public GameManager? gameManager { get; set; }

    protected override void OnParametersSet()
    {
        gameManager.GameStateChanged += (_, _) => InvokeAsync(() =>
        {
            StateHasChanged();
        });

        gameManager.NewGameStarted += (_, _) => InvokeAsync(()=>
        {
            refreshMap();
            StateHasChanged();
        });

        refreshMap();
        StateHasChanged();
    }

    void refreshMap()
    {
        backgroundStyle = $"background-image: url('/images/terrain_{gameManager.Game.MapNumber:00}.png'); ";
    }
}
