@inject IConfiguration config

<div style=@($"position: absolute; bottom: {bottomPercent}%; left: {leftPercent}%; z-index: 100")>
    <progress value="@batteryPercent" max="100">@Ingenuity.BatteryLevel</progress>
    <div class="playerName">
        <span>@Ingenuity.PlayerName</span>
    </div>
    <img src=@imageName alt="@Ingenuity.PlayerName" />
</div>

@code {
    [CascadingParameter(Name = "GameManager")]
    public GameManager? gameManager { get; set; }

    [Parameter]
    public required Ingenuity Ingenuity{ get; set; }

    private double leftPercent, bottomPercent, batteryPercent;
    private string imageName = "images/HELI_icon.png";

    protected override void OnParametersSet()
    {
        if (gameManager == null || Ingenuity == null)
            return;

        batteryPercent = (int)(Ingenuity.BatteryLevel * 100.0 / gameManager.Game.IngenuityStartingBatteryLevel);
        leftPercent = ((double)Ingenuity.Location.X) / gameManager.Game.Board.Width * 100;
        bottomPercent = ((double)Ingenuity.Location.Y) / gameManager.Game.Board.Height * 100;
    }
}
