@inject ILogger<NewGame> logger
@inject GameConfig gameConfig
@using Microsoft.Extensions.DependencyInjection.Extensions

<div class="modal" id="startGameModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Start Game</h3>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input class="form-control" type="number" id="RechargePointsPerSecond" placeholder="height" @bind=gamePlayOptions.RechargePointsPerSecond />
                    <label for="RechargePointsPerSecond">Recharge Points Per Second</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="password" id="password" placeholder="what's the magic word?" @bind=Password @bind:event="oninput" />
                    <label for="password">Password</label>
                </div>
                <div class="modal-footer">
                    <div class="col-auto">
                        <button class="btn btn-link" type="button" data-bs-dismiss="modal" hidden="@startGameButtonHidden" @onclick=startPlaying>Start Playing!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-link" style="margin-right: -12px; margin-left: -12px;" data-bs-toggle="modal" data-bs-target="#startGameModal">Start Playing</button>

@code {
    [CascadingParameter(Name = "GameManager")]
    public GameManager? gameManager { get; set; }

    private GameCreationOptions startOptions => gameManager!.GameStartOptions;

    bool startGameButtonHidden = true;
    GamePlayOptions gamePlayOptions = new();

    private string? password;
    public string? Password
    {
        get => password;
        set
        {
            password = value;
            startGameButtonHidden = (password != gameConfig.Password);
            StateHasChanged();
        }
    }

    void startPlaying()
    {
        if (gameManager == null)
            return;

        if (password != gameConfig.Password)
        {
            logger.LogWarning("What?!  How did they click the 'start playing' button with a password mismatch?");
            return;
        }

        logger.LogInformation("Starting game play!");
        gameManager.Game.PlayGame(gamePlayOptions);
    }
}
