@page "/game/{id}"
@using System.Collections.Concurrent
@using Microsoft.AspNetCore.RateLimiting;
@attribute [DisableRateLimiting]
@inject MultiGameHoster multiGameHoster
@inject NavigationManager navManager

<CascadingValue Name="GameManager" Value="@GameManager">
    <div class="row mt-1 mx-1 border-bottom">
        <span class="h3 col" style="font-family:'Cascadia Code', Consolas"><a href="/">Mars Rover</a> (Game '@Id')</span>
        <div class="col-auto text-end">
            <GameStatus /> |
            <a class="" href="/swagger/index.html">Swagger API Docs</a> |
            <NewGame /> |
            <StartGame />
        </div>
    </div>
    <BoardView />
</CascadingValue>

@code {
    [Parameter]
    public string? Id { get; set; }

    public GameManager? GameManager { get; set; }

    protected override void OnParametersSet()
    {
        if (Id == null)
            return;

        if (multiGameHoster.Games.ContainsKey(Id))
        {
            GameManager = multiGameHoster.Games[Id];
        }
        else
        {
            navManager.NavigateTo("/");
        }
    }
}
