@page "/"
@using System.Collections.Concurrent;
@inject MultiGameHoster multiGameHoster
@inject NavigationManager navManager

<div class="container">
    <h1>2023 Coding Challenge - Mars Rover</h1>

    <h3>Join an Existing Game</h3>
    <div class="row">
        @foreach (var game in multiGameHoster.Games.OrderBy(g=>g.Value.CreatedOn))
        {
            <div class="row">
                <p>
                    ➡️ <a href=@($"/game/{game.Key}")>Game '@game.Key'</a><span> (started @(game.Value.CreatedOn.ToString("g")))</span>
                </p>
            </div>
        }
    </div>
    <h3 class="mt-5">Make your own game</h3>
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-primary" @onclick=makeNewGame>Make a new game</button>
        </div>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        if (multiGameHoster.Games.Count == 0)
        {
            makeNewGame();
        }
    }

    void makeNewGame()
    {
        var gameId = multiGameHoster.MakeNewGame();
        navManager.NavigateTo($"/game/{gameId}");
    }
}
